

$primary-violet: rgb(45, 38, 64);

$primary-greyish-blue: rgb(149, 169, 198);



$neutral-very-violet: rgb(43, 39, 47);
$neutral-grey-violet: rgb(131, 125, 135);
$neutral-light-grey: rgb(250, 250, 250);


