

<!-- FOOTER SECTION -->
    <footer class=" bg-neutral-lightViolet mx-auto">

        <div class="container mx-auto">
            
            <div class="flex pt-16 pb-8 justify-between border-b border-neutral-veryViolet md:flex-row flex-col px-4 md:px-0 items-center ">

                <div class="footer-logo mb-8 ">
                    <%# <img src="/assets/logo.svg" class="w-32 lg:w-20"> %>
                    <%= link_to image_tag('logo.svg'), root_path, :class => 'w-32 lg:w-20' %>
                </div>

                <div class="social-icons">
                    <ul class="flex" >
                        <li  class=" mx-4 lg:ml-6 lg:mr-6">
                            <img src="/assets/icon-facebook.svg" class="w-6" alt="">
                        </li>
                        <li  class=" mx-4 lg:ml-6 lg:mr-6">
                            <img src="/assets/icon-twitter.svg" class="w-6" alt="">
                        </li>
                        <li  class=" mx-4 lg:ml-6 lg:mr-6">
                            <img src="/assets/icon-pinterest.svg" class="w-6" alt="">
                        </li>
                        <li  class=" mx-4 lg:ml-6 lg:mr-6">
                            <img src="/assets/icon-instagram.svg" class="w-6" alt="">
                        </li>
                    </ul>
                </div>
            </div>


            <!-- Footer List -->
            <div class="pt-6 pb-12 grid md:grid-cols-4 grid-cols-1 sm:grid-cols-2 gap-4">
                <!-- Footer Column -->
                <div >
                    <h3 class="text-md text-neutral-darkViolet uppercase my-6 font-bold md:text-left text-center">
                        Our Company
                    </h3>

                    <ul>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">How we work</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Why Insure</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">View Plans</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Reviews</li>
                    </ul>
                </div>
                <!-- End of Column -->





                <!-- Footer Column -->
                <div>
                    <h3 class="text-md text-neutral-darkViolet uppercase my-6 font-bold md:text-left text-center">
                        Help me
                    </h3>

                    <ul>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">FAQ</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Terms of use</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Privacy Policy</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Cookies</li>
                    </ul>
                </div>
                <!-- End of Column -->



                <!-- Footer Column -->
                <div>
                    <h3 class="text-md text-neutral-darkViolet uppercase my-6 font-bold md:text-left text-center">
                        Contact
                    </h3>

                    <ul>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Sales</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Support</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Live Chat</li>
                    </ul>
                </div>
                <!-- End of Column -->



                <!-- Footer Column -->
                <div>
                    <h3 class="text-md text-neutral-darkViolet uppercase my-6 font-bold  md:text-left text-center">
                        Others
                    </h3>

                    <ul>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Careers</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Press</li>
                        <li class="uppercase text-sm mb-1 font-bold text-neutral-veryViolet md:text-left text-center">Licenses</li>
                    </ul>
                </div>
                <!-- End of Column -->

            </div>

        </div>

    </footer>
